//color palette
$grey: #ebebeb !default;
$dark-grey: #333333 !default;
$white: #FFFFFF !default;

//breakpoints
$breakpoints: (
	mini: 480px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

//font

//grid
$grid-item-padding:15px;