.ru-flex-center
{
	@include flex-center;
}

.ru-absolute-center
{
	@include absolute-center;
}

.ru-full-screen
{
	@include full-screen;
}

.ru-text-center
{
	text-align:center;
}

.ru-background
{
	//all variable colors
	&-grey
	{
		background-color:$grey;
	}
	&-dark-grey
	{
		background-color:$dark-grey;
	}
	&-white
	{
		background-color:white;
	}
}

.ru-color
{
	//all variable colors
	&-grey
	{
		color:$grey;
	}
	&-dark-grey
	{
		color:$dark-grey;
	}
	&-white
	{
		color:$white;
	}
}