.r-split-page
{
	display:flex;
	flex-wrap:wrap;
	&.end-vertically
	{
		align-items: flex-end;
	}
	&.center-vertically
	{
		align-items: center;
	}
	&.center
	{
		justify-content:center;
	}
	&.space-between
	{
		justify-content: space-between;
	}
	&.space-around
	{
		justify-content: space-around;
	}
	&.non-fluid
	{
		@include snap-up-from('md')
		{
			max-width: map-get($breakpoints, 'md');
			margin:auto;
		}
		@include snap-up-from('lg')
		{
			max-width: map-get($breakpoints, 'lg');
		}
		@include snap-up-from('xl')
		{
			max-width: map-get($breakpoints, 'xl');
		}
	}
	@include snap-down-from('md')
	{
		> div 
		{
			position:relative;
			width:100%;
		}
	}
	> div > *
	{
		padding:$grid-item-padding;
	}
	&-full
	{
		width:100%;
	}
	&-half
	{
		width:50%;
	}
	&-quarter
	{
		width:25%;
		&-x3 // three quarters
		{
			width:75%;
		}
	}
	&-third
	{
		flex:1;
		&-x2 // two thirds
		{
			flex:2;
		}
	}
	&-fifth
	{
		width:20%;
		&-x2 // two fifths
		{
			width:40%;
		}
		&-x3 // three fifths
		{
			width:60%;
		}
		&-x4 // four fifths
		{
			width:80%;
		}
	}
}