.rwxu-flex-center
{
	@include flex-center;
}

.rwxu-absolute-center
{
	@include absolute-center;
}

.rwxu-full-screen
{
	@include full-screen;
}

.rwxu-text-center
{
	text-align:center;
}

.rwxu-background
{
	//all variable colors
	&-grey
	{
		background-color:$grey;
	}
	&-dark-grey
	{
		background-color:$dark-grey;
	}
	&-white
	{
		background-color:white;
	}
}

.rwxu-color
{
	//all variable colors
	&-grey
	{
		color:$grey;
	}
	&-dark-grey
	{
		color:$dark-grey;
	}
	&-white
	{
		color:$white;
	}
}