body {
	font-family: $font-base;
}

$headings: ("h1": $h1-size, "h2": $h2-size, "h3": $h3-size, "h4": $h4-size, "h5": $h5-size, "h6": $h6-size);

@each $selector, $size in $headings
{
  .#{$selector}, #{$selector}
  {
    font-size: $size;
    @extend .rwxf-bold;
    font-family: $font-heading;
  }
}

p, strong, span, li
{
	font-size: $font-size-base;	
}

$weights: ("light": 200, "normal": "normal", "bold": 600, "extra-bold": 900);

@each $selector, $weight in $weights
{
	.rwxf-#{$selector}
	{
		font-weight: $weight;
	}
}