$grid-classes:
  "full" "width" 100%,
  "half" "width" 50%,
  "third" "flex" 1,
  "third-x2" "flex" 2,
  "quarter" "width" 25%,
  "quarter-x3" "width" 75%,
  "fifth" "width" 20%,
  "fifth-x2" "width" 40%,
  "fifth-x3" "width" 60%,
  "fifth-x4" "width" 80%;

.rwx-split-page
{
	display:flex;
	flex-wrap:wrap;
	&.end-vertically
	{
		align-items: flex-end;
	}
	&.center-vertically
	{
		align-items: center;
	}
	&.center
	{
		justify-content:center;
	}
	&.space-between
	{
		justify-content: space-between;
	}
	&.space-around
	{
		justify-content: space-around;
	}
	&.non-fluid
	{
		@include snap-up-from('md')
		{
			max-width: map-get($breakpoints, 'md');
			margin:auto;
		}
		@include snap-up-from('lg')
		{
			max-width: map-get($breakpoints, 'lg');
		}
		@include snap-up-from('xl')
		{
			max-width: map-get($breakpoints, 'xl');
		}
	}
	@include snap-down-from('md')
	{
		> div 
		{
			position:relative;
			width:100%;
		}
	}
	> div > *
	{
		padding:$grid-item-padding;
	}
	@each $selector, $property, $value in $grid-classes
	{
		&-#{$selector}
		{
			#{$property}: #{$value};
		}
	}
}