@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

//color palette
$black: #000000 !default;
$grey: #d6d6c2 !default; //#a3a3a3
$dark-grey: #313131 !default;
$white: #FFFFFF !default;
$orange: #e65c00 !default;

//breakpoints
$breakpoints: (
	mini: 480px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

//font

//grid
$grid-item-padding:15px !default;

//spacings
$small-spacing: 1rem !default;
$medium-spacing: 2rem !default;
$large-spacing: 3rem !default;

//type
$font-size-base: 0.95rem !default;
$h1-size: $font-size-base * 1.6 !default;
$h2-size: $font-size-base * 1.5 !default;
$h3-size: $font-size-base * 1.4 !default;
$h4-size: $font-size-base * 1.3 !default;
$h5-size: $font-size-base * 1.2 !default;
$h6-size: $font-size-base * 1.1 !default;
$font-base: 'Roboto Mono', monospace !default;
$font-heading: 'Josefin Sans', sans-serif;

//animation-easings
//fast-out
$fast-in: cubic-bezier(.09,1.08,.74,.95);
//base