@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

//color palette
$black: #000000 !default;
$grey: #d6d6c2 !default;
$dark-grey: #313131 !default;
$white: #FFFFFF !default;
$orange: #e65c00 !default;
$red: #ff3333 !default;
$blue: #1342a0 !default;
$light-blue: #3399ff !default;
$turquoise: #39eeb2 !default;
$green: #1c7503 !default;
$light-green: #3eee3e !default;
$yellow: #f3f30f !default;
$purple: #731773 !default;
$pink: #ff33cc !default;
$brown: #9a3300 !default;

//breakpoints
$breakpoints: (
	mini: 480px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

//font

//grid
$grid-item-gutter:15px !default;

//spacings
$small-spacing: 1rem !default;
$medium-spacing: 2rem !default;
$large-spacing: 3rem !default;

//type
$font-size-base: 0.95rem !default;
$line-height-base: 1.6rem !default;
$h1-size: $font-size-base * 3 !default;
$h2-size: $font-size-base * 2.4 !default;
$h3-size: $font-size-base * 1.9 !default;
$h4-size: $font-size-base * 1.6 !default;
$h5-size: $font-size-base * 1.4 !default;
$h6-size: $font-size-base * 1.2 !default;
$font-base: 'Roboto Mono', monospace !default;
$font-heading: 'Josefin Sans', sans-serif !default;

//animation-easings
//fast-out
$fast-in: cubic-bezier(.09,1.08,.74,.95);
//base