$things: ("margin": "m", "padding": "p");
$directions: ("left": "l", "right": "r", "top" :"t", "bottom": "b");
$spacings: ("no": 0, "sm": $small-spacing, "md": $medium-spacing, "lg": $large-spacing);

@each $size, $unit in $spacings {
	@each $property, $selector in $things
	{
		.rwxs-#{$selector}
		{
			&-#{$size}
			{
				#{$property}: $unit !important;
			}
			
			@each $direction, $dselector in $directions
			{
				&-#{$dselector}-#{$size}
				{
					#{$property}-#{$direction}: $unit !important;
				}
			}
		}
	}	
}

