body {
	font-family: $font-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $font-color-base;
}

$headings: ("h1": $h1-size, "h2": $h2-size, "h3": $h3-size, "h4": $h4-size, "h5": $h5-size, "h6": $h6-size);

@each $selector, $size in $headings
{
  .#{$selector}, #{$selector}
  {
    font-size: $size;
    @extend .rwxt-bold;
    font-family: $font-heading;
    margin-bottom: 1.3rem;
    line-height: $size + 0.55rem;
  }
}

p, strong, span, ul
{
  margin-bottom:1.1rem;
}

sup, p.small, strong.small, span.small, li.small
{
  @extend .rwxt-small;
}

a
{
  &:not(.rwx-button)
  {
    text-decoration:none;
    color:$font-link-color;
    display:inline-block;
    position:relative;
    &:after
    {
      display:inline-block;
      content:"";
      width:0px;
      height:1px;
      background-color:$font-link-color;
      transition: all 0.3s $transition-fast-in;
      position:absolute;
      bottom:0px;
      width:100%;
      left:0;
    }
    &:hover, &.active
    {
      &:after
      {
        transition: all 0.3s $transition-fast-in;
        left:45%;
        width:5%;
      }
    }
    &.inverted
    {
      &:after
      {
        width:0;
        left:50%;
      }
      &:hover, &.active
      {
        &:after
        {
          left:0;
          width:100%;
        }
      } 
    }
  }
}

ul
{
  padding-left:0.8rem;
  &:not(.no-decoration)
  {
    li
    {
      position:relative;
      margin-bottom:0.75rem;
      padding-left: 25px;
      &:before
      {
        content:"";
        width:10px;
        height:2px;
        position:absolute;
        left:0px;
        top:12px;
        background: $list-item-counter-color
      }
    }
  }
  &.inline
  {
    display:flex;
    flex-wrap:wrap;
    li
    {
      margin-right: 50px;
      &:before
      {
        height:8px;
        width:8px;
        top:10px;
        background: $list-item-counter-color;
        border-radius:100%;
      }
    }
  }
}

$weights: ("light": 200, "normal": "normal", "bold": 600, "extra-bold": 900);

@each $selector, $weight in $weights
{
	.rwxt-#{$selector}
	{
		font-weight: $weight;
	}
}

$cards: ("help", "note", "warning", "hint");

@each $card in $cards
{
  p.#{$card}
  {
    text-align:left;
    padding: 15px 10px 15px 60px;
    position:relative;
    background-color:$theme-color-secondary;
    box-shadow: 0px 0px 3px $dark-grey;
    &:before
    {
      content: "";
      width:33px;
      height:33px;
      position:absolute;
      top:15px;
      left:10px;
      background: icon(#{$card});     
    }
  }
}

.rwxt-small
{
  font-size:$font-size-small !important;
}
.rwxt-uppercase
{
  text-transform: uppercase !important;
}

.rwxt-text-center
{
  text-align:center !important;
}

.rwxt-text-right
{
  text-align:right !important;
}