$iconsizes: ('xs': 1rem, 'sm': 2rem, 'lg': 4rem, 'xl': 5rem);

@each $iconname, $stuff in $icons
{
	$icon:null;
	$canhavefill: false;
	@if map-has-key($icons, $iconname) {
		$icon: map-get($icons, $iconname);
		@if map-get($icon, 'canhavefill')
		{
			$canhavefill: true;
		}
	}

	.rwxi-#{$iconname}
	{
		background: icon($iconname) no-repeat;
		width:3rem;
		height:3rem;
		display:inline-block;
		@each $size, $measurement in $iconsizes
		{
			&.--#{$size}
			{
				width: $measurement;
				height: $measurement;
			}
		}
		@each $modifier, $color in $colors
		{
			&.--#{$modifier}
			{
				background: icon($iconname, $color) no-repeat;
			}
			@if $canhavefill
			{
				&.--#{$modifier}-fill
				{
					background: icon($iconname, $theme-color-base, $color) no-repeat;
				}
				@each $modifier2, $color2 in $colors
				{
					&.--#{$modifier}.--#{$modifier2}-fill
					{
						background: icon($iconname, $color, $color2) no-repeat;
					}
				}
			}
		}
	}
}