
@function safeHexForSvg($color)
{
  @return '%23' + str-slice('#{$color}', 2, -1)
}

.rwx-form
{
	position:relative;
	overflow:hidden;
	&-item
	{
		display:flex;
		flex-direction:column;
		margin-bottom:20px;
		label
		{
			color:$form-theme-color-base;
			display:block;
			margin-bottom:10px;
			order:1;
		}
		input, select, textarea
		{
			order:2;
			color: $form-theme-color-base;
			padding-left:15px;
			min-height:$form-item-size;
			width:100%;
			border:1px solid $form-theme-color-secondary;
			transition: 0.5s border $transition-base;
			font: inherit;
			&:focus
			{
				outline:none;
				box-shadow: 0 0 0.3rem 0.1rem $form-theme-focus-color;
			}
		}

		&[required]
		{
			position:relative;
			&:after
			{
				content:"*";
				position:absolute;
				right:0px;
				top:0px;
			}
		}
		&.valid
		{
			input, select, textarea
			{
				transition: 0.5s border $transition-base;
				border: 1px solid $form-valid-color;
			}
			&.rwx-checkbox, &.rwx-toggle
			{
				label:after
				{
					transition: 0.5s border $transition-base;
					border: 1px solid $form-valid-color;
				}
			}
		}
		&.invalid
		{
			input, select, textarea
			{
				transition: 0.5s border $transition-base;
				border: 1px solid $form-invalid-color;
			}
			.invalid-message
			{
				display:block;
			}
			&.rwx-checkbox, &.rwx-toggle
			{
				label:after
				{
					transition: 0.5s border $transition-base;
					border: 1px solid $form-invalid-color;
				}
			}
		}
		.invalid-message
		{
			color: $red;
			order: 3;
			margin-top:5px;
			font-size: $font-size-small;
			display:none;
		}


		&.rwx-checkbox, &.rwx-toggle
		{
			input[type="checkbox"]
			{
				position:absolute;
				width:1px;
				left:-10px;
				&:focus + label
				{
					&:after
					{
						transition: 0.5s border $transition-base;
						box-shadow: 0 0 0.3rem 0.1rem $form-theme-focus-color;
						border:1px solid $form-theme-color-secondary;
					}
				}
			}
			label
			{
				cursor:pointer;
				position:relative;
				&:after, &:before
				{
					content:"";
				}
				&:after
				{
					margin-top:10px;
					display:block;
					border:1px solid $form-theme-color-secondary;
				}
				&:before
				{
					position:absolute;
				}
			}
		}

		&.rwx-checkbox
		{
			input[type="checkbox"]
			{
				&:checked + label
				{
					&:before
					{
						opacity:1;
						transition: opacity 1s $transition-base;
					}
				}
			}
			label
			{
				&:after
				{
					width: $form-item-size;
					height: $form-item-size;
				}
				&:before
				{
					background-image: url("data:image/svg+xml, <svg viewBox='0 0 20 20' stroke='#{safeHexForSvg($form-theme-color-base)}' fill='none' xmlns='http://www.w3.org/2000/svg'><polyline points='2,12 7,17 18,4' stroke-linecap='round' stroke-linejoin='round' stroke-width='2px' /></svg>");
					bottom:$form-item-size/4;
					left:$form-item-size/4;
					width:$form-item-size/2;
					height:$form-item-size/2;
					opacity:0;
					transition: opacity 0.5s $transition-base;
				}
			}
		}

		&.rwx-toggle
		{
			input[type="checkbox"]
			{
				&:checked + label
				{
					&:before
					{
						left:$form-item-size;
						background-color: $form-theme-color-base;
						transition: all 0.5s $transition-base;
					}
				}
			}
			label
			{
				&:after
				{
					width:$form-item-size*2;
					height:$form-item-size;
					background-color: transparent;
					border-radius:$form-item-size/2;
				}
				&:before
				{
					bottom:0px;
					left:0px;
					height:$form-item-size;
					width:$form-item-size;
					border-radius:$form-item-size/2;
					background-color: $form-theme-color-secondary;
					transition: all 0.5s $transition-base;
				}
			}
		}

		&.rwx-select
		{
			select
			{
				background-color:$white;
				padding-right:$form-item-size;
				cursor:pointer;
			}
			position:relative;
			label
			{
				&:after, &:before
				{
					content:"";
					position:absolute;
				}
				&:after
				{
					bottom:1px;
					right:1px;
					height:$form-item-size - 2px;
					width:$form-item-size - 2px;
					z-index:1;
					background-color:$white;
				}
				&:before
				{
					right: $form-item-size / 4;
					bottom: $form-item-size / 4;
					height:$form-item-size / 2;
					width:$form-item-size / 2;
					z-index:2;
					content:"";
					background-image: url("data:image/svg+xml, <svg viewBox='0 0 40 40' stroke='#{safeHexForSvg($form-theme-color-base)}' fill='none' xmlns='http://www.w3.org/2000/svg'><polyline points='2,6 16,6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2px' /><polyline points='2,14 16,14' stroke-linecap='round' stroke-linejoin='round' stroke-width='2px' /><polyline points='2,24 16,24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2px' /><polyline points='2,32 16,32' stroke-linecap='round' stroke-linejoin='round' stroke-width='2px' /><polyline points='24,14 37,14 31,5 24,14 37,14' stroke-width='2px' /><polyline points='24,24 37,24 31,33 24,24 37,24' stroke-width='2px' /></svg>");
				}
			}
		}
	}
}