body {
	font-family: $font-base;
  font-size: rem($font-size-base);
  line-height: rem($line-height-base);
  color: $font-color-base;
}

@mixin additionalheadingstyle {
  margin-bottom: 1.3rem;
  &.underline
  {
    @extend .rwxt-underline;
  }
  &.no-underline
  {
    @extend .rwxt-no-underline;
  }
  @if $underline-headings
  {
    @extend .rwxt-underline;
  }
}

@mixin headingstyle {
  font-family: $font-heading;
  @extend .rwxt-bold;  
}

$headingincrement: 8px;

@mixin h1 {
  @include headingstyle;
  font-size: rem($h1-size);
  line-height: rem($h1-size) + rem($headingincrement);
  @if $responsiveheadings
  {
    @include snap-down-from('md')
    {
      font-size: rem($h1-size) / 100 * $responsiveheadings;
      line-height: rem($h1-size) + rem($headingincrement) / 100 * $responsiveheadings;
    }
  }
}

@mixin h2 {
  @include headingstyle;
  font-size: rem($h2-size);
  line-height: rem($h2-size) + rem($headingincrement);
  @if $responsiveheadings
  {
    @include snap-down-from('md')
    {
      font-size: rem($h2-size / 100 * $responsiveheadings);
      line-height: rem($h2-size) + rem($headingincrement) / 100 * $responsiveheadings;
    }
  }
}

@mixin h3 {
  @include headingstyle;
  font-size: rem($h3-size);
  line-height: rem($h3-size) + rem($headingincrement);
  @if $responsiveheadings
    {
    @include snap-down-from('md')
    {
      font-size: rem($h3-size / 100 * $responsiveheadings);
      line-height: rem($h3-size) + rem($headingincrement) / 100 * $responsiveheadings;
    }
  }
}

@mixin h4 {
  @include headingstyle;
  font-size: rem($h4-size);
  line-height: rem($h4-size) + rem($headingincrement);
  @if $responsiveheadings
  {
    @include snap-down-from('md')
    {
      font-size: rem($h4-size / 100 * $responsiveheadings);
      line-height: rem($h4-size) + rem($headingincrement) / 100 * $responsiveheadings;
    }
  }
}

@mixin h5 {
  @include headingstyle;
  font-size: rem($h5-size);
  line-height: rem($h5-size) + rem($headingincrement);
  @if $responsiveheadings
  {
    @include snap-down-from('md')
    {
      font-size: rem($h5-size / 100 * $responsiveheadings);
      line-height: rem($h5-size) + rem($headingincrement) / 100 * $responsiveheadings;
    }
  }
}

@mixin h6 {
  @include headingstyle;
  font-size: rem($h6-size);
  line-height: rem($h6-size) + rem($headingincrement);
  @if $responsiveheadings
  {
    @include snap-down-from('md')
    {
      font-size: rem($h6-size / 100 * $responsiveheadings);
      line-height: rem($h6-size) + rem($headingincrement) / 100 * $responsiveheadings;
    }
  }
}

h1, .h1, button.no-decoration.h1
{
  @include h1;
  @include additionalheadingstyle;
}

h2, .h2, button.no-decoration.h2
{
  @include h2;
  @include additionalheadingstyle;
}

h3, .h3, button.no-decoration.h3
{
  @include h3;
  @include additionalheadingstyle;
}

h4, .h4, button.no-decoration.h4
{
  @include h4;
  @include additionalheadingstyle;
}

h5, .h5, button.no-decoration.h5
{
  @include h5;
  @include additionalheadingstyle;
}

h6, .h6, button.no-decoration.h6
{
  @include h6;
  @include additionalheadingstyle;
}


%subsection {
  &:not(.no-bar)
  {
    @if $section-seperators
    {
      border-top: 2px solid $section-seperator-color;
    }
  }
  &:not(.no-indent)
  {
    margin-left:$small-spacing;
  }
}

%subsubsection {
  &:not(.no-bar)
  {
    @if $section-seperators
    {
      border-top: 1px solid $section-seperator-color;
    }
  }
  &:not(.no-indent)
  {
    margin-left:$small-spacing;
  }
}

section, .section
{
  margin-top: $extra-large-spacing;
  margin-bottom: $extra-large-spacing;
  width:100%;
  &:not(.no-bar)
  {
    padding-top:$small-spacing;
    @if $section-seperators
    {
      border-top: 3px solid $section-seperator-color;
    }
  }
  &.sub-section
  {
    @extend %subsection;
  }
  &.sub-sub-section
  {
    @extend %subsubsection;
  }
  section, .section, .sub-section
  {
    @extend %subsection;
    section, .section, .sub-sub-section
    {
      @extend %subsubsection;
    }
  }
}

strong.asheading
{
  color:$silver;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  display: block;
  margin-bottom: 0.3rem;
}

p, strong
{
  margin-bottom:1.1rem;
}

sup, p.small, strong.small, span.small, li.small
{
  @extend .rwxt-small;
}

a
{
  &:not(.rwx-button):not(.no-decoration)
  {
    text-decoration:none;
    color:$font-link-color;
    display:inline-block;
    position:relative;
    &:after
    {
      display:inline-block;
      content:"";
      width:0px;
      height:1px;
      background-color:$font-link-color;
      transition: all 0.3s $transition-fast-in;
      position:absolute;
      bottom:0px;
      width:100%;
      left:0;
    }
    &:focus
    {
      @include focus-ring;
    }
    &:hover, &.active
    {
      &:after
      {
        transition: all 0.3s $transition-fast-in;
        left:45%;
        width:5%;
      }
    }
    &.inverted
    {
      &:after
      {
        width:0;
        left:50%;
      }
      &:hover, &.active
      {
        &:after
        {
          left:0;
          width:100%;
        }
      } 
    }
  }
}

ul
{
  &:not(.no-decoration)
  {
    margin-bottom: 1.5rem;
    padding-left:0.8rem;
    li
    {
      position:relative;
      margin-bottom:0.75rem;
      padding-left: 25px;
      ul
      {
        margin-top:16px;
      }
      &:before {
        position:absolute;
        left:0px;
        top:12px;
        content:"";
      }
    }
    &:not(.\--numbered)
    {
      li:before {
        width:10px;
        height:2px;
        background: $list-item-counter-color;
      }
    }
    &.\--dotted
    {
      li:before
      {
        border-radius:100%;
        width:8px;
        height:8px;
        top:9px;
      }
    }
  }
  &.\--numbered
  {
    counter-reset: ulnumbered;
    li {
      min-height:30px;
      padding-left: 50px;
      padding-top:3px;
    }
    li:before {
      counter-increment: ulnumbered;
      content: counter(ulnumbered)".";
      color: $list-item-counter-color;
      @include h3;
      top:0px;
    }
  }
  &.\--inline
  {
    display:flex;
    flex-wrap:wrap;
    li
    {
      margin-right: 50px;
      &:before
      {
        height:8px !important;
        width:8px !important;
        top:9px;
        background: $list-item-counter-color;
        border-radius:100%;
      }
    }
  }
}

$weights: ("light": 200, "normal": 400, "semi-bold":500, "bold": 700, "extra-bold": 900);

@each $selector, $weight in $weights
{
	.rwxt-#{$selector}
	{
		font-weight: $weight !important;
	}
}

@each $selector,$measurements in $fontsizes
{
  .rwxt-#{$selector}
  {
    font-size: rem(map-get($measurements, "size")) !important;
    line-height: rem(map-get($measurements, "lh")) !important;
  }
}

.rwxt-base
{
  font-family:$font-base !important;
}

.rwxt-no-underline
{
  text-decoration: none !important;
}

.rwxt-underline
{
  text-decoration: underline !important;
}

.rwxt-uppercase
{
  text-transform: uppercase !important;
}

.rwxt-text-center
{
  text-align:center !important;
}

.rwxt-text-right
{
  text-align:right !important;
}

$cards: ("help": $orange, "note": $light-blue, "warning": $red, "hint": $yellow, "feature": $light-green);

@each $card, $color in $cards
{
  p.#{$card}
  {
    text-align:left;
    padding: 15px 10px 15px 70px;
    position:relative;
    background-color: $card-background-color;
    box-shadow: 1px 1px 2px $card-border-color;
    min-height:80px;
    border-radius:8px;
    overflow:hidden;;
    &:before
    {
      content: "";
      width:33px;
      height:33px;
      position:absolute;
      top:20px;
      left:10px;
      background: icon(#{$card}, $white); 
      z-index:2;    
    }
    &:after
    {
      content: "";
      position:absolute;
      left:0px;
      top:0px;
      height:100%;
      width:50px;
      z-index:1;
      background-color: rgba($color, 0.8);
    }
  }
}