@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

//color palette
$black: #000000 !default;
$grey: #E3E3E3 !default;
$dark-grey: #313131 !default;
$silver: #263547 !default;
$white: #FFFFFF !default;
$orange: #E65C00 !default;
$red: #FF3333 !default;
$blue: #1342A0 !default;
$light-blue: #3399FF !default;
$turquoise: #39EEB2 !default;
$green: #1C7503 !default;
$light-green: #3EEE3E !default;
$yellow: #EDD400 !default;
$purple: #731773 !default;
$pink: #FF33CC !default;
$brown: #9A3300 !default;

$ecolors: ('black':$black, 
					'grey':$grey, 
					'dark-grey':$dark-grey, 
					'white':$white, 
					'orange':$orange,
					'red': $red,
					'blue': $blue,
					'light-blue': $light-blue,
					'green': $green,
					'light-green': $light-green,
					'turquoise': $turquoise,
					'yellow': $yellow,
					'purple': $purple,
					'pink': $pink,
					'brown': $brown,
					'silver': $silver
					);
$colors: null !default;
@if $colors
{
	$colors: map-merge($colors, $ecolors);
}
@else
{
	$colors: $ecolors;
}

//theme
$theme-color-base: $dark-grey !default;
$theme-color-secondary: $grey !default;
$theme-color-tertiary: $light-blue !default;


$icons: (
	'circle': (
		'svg': "<circle cx='250' cy='250' r='230'/>",
		'strokewidth': '30px'
	),
	'circle-fill': (
		'fill': true,
		'svg': "<circle cx='250' cy='250' r='240'/>"
	),
	'mouse': (
		'svg': '<path d="M 250.72 80 C 148.271 80 100 180 100 280 C 100 380 100 477 250 477 C 400 477 400.72 380 400.72 280 C 400.72 180 350 80 250 80 L 250.72 80 Z"></path><line x1="250" y1="81" x2="250" y2="231"></line><line x1="104" y1="231" x2="396" y2="231"></line><path d="M 250 80 C 250 80 240.578 64.437 250 50 C 284.761 17.306 331.221 74.325 350 50 C 366.964 37.511 350 0 350 0"></path>',
		'strokewidth': '20px'
	),
	'mouse-fill': (
		'fill': true,
		'svg': '<path d="M 250.72 80 C 148.271 80 100 180 100 280 C 100 380 100 477 250 477 C 400 477 400.72 380 400.72 280 C 400.72 180 350 80 250 80 L 250.72 80 Z"></path><line x1="250" y1="81" x2="250" y2="231" stroke="white"></line><line x1="104" y1="231" x2="396" y2="231" stroke="white"></line><path d="M 250 80 C 250 80 240.578 64.437 250 50 C 284.761 17.306 331.221 74.325 350 50 C 366.964 37.511 350 0 350 0" fill="none"></path>',
		'strokewidth': '20px'
	),
	'star': (
		'svg': '<path d="M 782 237.048 L 858.985761204 393.038190145 L 1031.131156557 418.052380289 L 906.565578278 539.473809855 L 935.971522409 710.923619711 L 782 629.976 L 628.028477591 710.923619711 L 657.434421722 539.473809855 L 532.868843443 418.052380289 L 705.014238796 393.038190145 Z" transform="matrix(-0.809019, 0.587782, -0.587782, -0.809019, 1176.073474, 215.940202)" />',
		'strokewidth': '20px'
	),
	'star-fill': (
		'fill': true,
		'svg': '<path d="M 782 237.048 L 858.985761204 393.038190145 L 1031.131156557 418.052380289 L 906.565578278 539.473809855 L 935.971522409 710.923619711 L 782 629.976 L 628.028477591 710.923619711 L 657.434421722 539.473809855 L 532.868843443 418.052380289 L 705.014238796 393.038190145 Z" transform="matrix(-0.809019, 0.587782, -0.587782, -0.809019, 1176.073474, 215.940202)" />'
	),
	'cog': (
		'svg': '<path transform="matrix(-0.465652, 0.465733, -0.465733, -0.465652, 849.190857, 131.052109)" d="M 747.033218753 153.248 L 794.966781247 153.248 L 828.920570744 287.435654562 A 235.789 235.789 0 0 1 858.488025393 297.042702945 L 964.83074251 208.440146695 L 1003.609809169 236.614787818 L 952.205477504 365.13241752 A 235.789 235.789 0 0 1 970.479169438 390.283996718 L 1108.591510693 381.109703777 L 1123.403796105 426.697230736 L 1006.276050806 500.455469185 A 235.789 235.789 0 0 1 1006.276050806 531.544530815 L 1123.403796105 605.302769264 L 1108.591510693 650.890296223 L 970.479169438 641.716003282 A 235.789 235.789 0 0 1 952.205477504 666.86758248 L 1003.609809169 795.385212182 L 964.83074251 823.559853305 L 858.488025393 734.957297055 A 235.789 235.789 0 0 1 828.920570744 744.564345438 L 794.966781247 878.752 L 747.033218753 878.752 L 713.079429256 744.564345438 A 235.789 235.789 0 0 1 683.511974607 734.957297055 L 577.16925749 823.559853305 L 538.390190831 795.385212182 L 589.794522496 666.86758248 A 235.789 235.789 0 0 1 571.520830562 641.716003282 L 433.408489307 650.890296223 L 418.596203895 605.302769264 L 535.723949194 531.544530815 A 235.789 235.789 0 0 1 535.723949194 500.455469185 L 418.596203895 426.697230736 L 433.408489307 381.109703777 L 571.520830562 390.283996718 A 235.789 235.789 0 0 1 589.794522496 365.13241752 L 538.390190831 236.614787818 L 577.16925749 208.440146695 L 683.511974607 297.042702945 A 235.789 235.789 0 0 1 713.079429256 287.435654562 Z M 771 407.174 A 108.826 108.826 0 0 0 771 624.826 A 108.826 108.826 0 0 0 771 407.174" />',
		'strokewidth': '30px'
	),
	'cog-fill': (
		'fill': true,
		'svg': '<path transform="matrix(-0.465652, 0.465733, -0.465733, -0.465652, 849.190857, 131.052109)" d="M 747.033218753 153.248 L 794.966781247 153.248 L 828.920570744 287.435654562 A 235.789 235.789 0 0 1 858.488025393 297.042702945 L 964.83074251 208.440146695 L 1003.609809169 236.614787818 L 952.205477504 365.13241752 A 235.789 235.789 0 0 1 970.479169438 390.283996718 L 1108.591510693 381.109703777 L 1123.403796105 426.697230736 L 1006.276050806 500.455469185 A 235.789 235.789 0 0 1 1006.276050806 531.544530815 L 1123.403796105 605.302769264 L 1108.591510693 650.890296223 L 970.479169438 641.716003282 A 235.789 235.789 0 0 1 952.205477504 666.86758248 L 1003.609809169 795.385212182 L 964.83074251 823.559853305 L 858.488025393 734.957297055 A 235.789 235.789 0 0 1 828.920570744 744.564345438 L 794.966781247 878.752 L 747.033218753 878.752 L 713.079429256 744.564345438 A 235.789 235.789 0 0 1 683.511974607 734.957297055 L 577.16925749 823.559853305 L 538.390190831 795.385212182 L 589.794522496 666.86758248 A 235.789 235.789 0 0 1 571.520830562 641.716003282 L 433.408489307 650.890296223 L 418.596203895 605.302769264 L 535.723949194 531.544530815 A 235.789 235.789 0 0 1 535.723949194 500.455469185 L 418.596203895 426.697230736 L 433.408489307 381.109703777 L 571.520830562 390.283996718 A 235.789 235.789 0 0 1 589.794522496 365.13241752 L 538.390190831 236.614787818 L 577.16925749 208.440146695 L 683.511974607 297.042702945 A 235.789 235.789 0 0 1 713.079429256 287.435654562 Z M 771 407.174 A 108.826 108.826 0 0 0 771 624.826 A 108.826 108.826 0 0 0 771 407.174" />'
	),
	'help': (
		'fill': true,
		'svg': '<path d="M 234.51 185.864 C 248.21 185.864 257.675 189.275 263.475 193.928 C 269.275 198.575 272.175 204.298 272.175 211.098 C 272.175 219.698 268.475 226.698 261.075 232.098 C 258.275 234.198 254.875 236.098 250.875 237.798 L 248.475 238.848 C 247.775 239.148 247.525 242.706 246.872 246.553 C 246.225 250.406 245.475 251.698 245.475 253.398 C 244.975 253.898 243.552 254.475 241.205 255.128 C 238.852 255.775 236.898 256.098 235.345 256.098 C 233.798 256.098 232.625 255.998 231.825 255.798 C 230.725 253.998 230.033 250.098 230.033 244.098 C 230.033 238.098 230.425 234.248 230.925 232.548 C 246.725 228.748 255.906 222.348 255.906 213.348 C 255.906 205.548 247.425 201.648 233.025 201.648 C 227.925 201.648 224.225 202.148 221.925 203.148 C 221.325 202.148 221.025 200.048 221.025 196.848 C 221.025 193.648 221.475 190.948 222.375 188.748 C 225.075 187.548 229.31 185.864 234.51 185.864 Z M 229.945 283.768 C 227.998 281.821 227.025 279.448 227.025 276.648 C 227.025 273.848 227.998 271.475 229.945 269.528 C 231.898 267.575 234.275 266.598 237.075 266.598 C 239.875 266.598 242.252 267.575 244.205 269.528 C 246.152 271.475 247.125 273.848 247.125 276.648 C 247.125 279.448 246.152 281.821 244.205 283.768 C 242.252 285.721 239.875 286.698 237.075 286.698 C 234.275 286.698 231.898 285.721 229.945 283.768 Z" transform="matrix(4.628736972808838, 0, 0, 4.252139091491699, -893.1895751953125, -748.3788452148438)"/>'
	),
	'help-fill': (
		'fill': true,
		'svg': '<path d="M 234.51 185.864 C 248.21 185.864 257.675 189.275 263.475 193.928 C 269.275 198.575 272.175 204.298 272.175 211.098 C 272.175 219.698 268.475 226.698 261.075 232.098 C 258.275 234.198 254.875 236.098 250.875 237.798 L 248.475 238.848 C 247.775 239.148 247.525 242.706 246.872 246.553 C 246.225 250.406 245.475 251.698 245.475 253.398 C 244.975 253.898 243.552 254.475 241.205 255.128 C 238.852 255.775 236.898 256.098 235.345 256.098 C 233.798 256.098 232.625 255.998 231.825 255.798 C 230.725 253.998 230.033 250.098 230.033 244.098 C 230.033 238.098 230.425 234.248 230.925 232.548 C 246.725 228.748 255.906 222.348 255.906 213.348 C 255.906 205.548 247.425 201.648 233.025 201.648 C 227.925 201.648 224.225 202.148 221.925 203.148 C 221.325 202.148 221.025 200.048 221.025 196.848 C 221.025 193.648 221.475 190.948 222.375 188.748 C 225.075 187.548 229.31 185.864 234.51 185.864 Z M 229.945 283.768 C 227.998 281.821 227.025 279.448 227.025 276.648 C 227.025 273.848 227.998 271.475 229.945 269.528 C 231.898 267.575 234.275 266.598 237.075 266.598 C 239.875 266.598 242.252 267.575 244.205 269.528 C 246.152 271.475 247.125 273.848 247.125 276.648 C 247.125 279.448 246.152 281.821 244.205 283.768 C 242.252 285.721 239.875 286.698 237.075 286.698 C 234.275 286.698 231.898 285.721 229.945 283.768 Z" transform="matrix(4.628736972808838, 0, 0, 4.252139091491699, -893.1895751953125, -748.3788452148438)"/>'
	),
	'note': (
		'fill': true,
		'svg': '<path d="M 150 12 L 350 12 L 290 330 L 210 330 L 150 12 Z"/><circle cx="251" cy="439" r="45"/>'
	),
	'note-fill': (
		'fill': true,
		'svg': '<path d="M 150 12 L 350 12 L 290 330 L 210 330 L 150 12 Z"/><circle cx="251" cy="439" r="45"/>'
	),
	'warning': (
		'fill': true,
		'strokewidth': '20px',
		'svg': '<path d="M 501.21 42.285 Q 508.159 28.307 515.108 42.285 L 740.843 496.318 Q 747.792 510.296 733.893 510.296 L 282.425 510.296 Q 268.526 510.296 275.475 496.318 Z" transform="matrix(1, -0.000044, 0.000044, 1, -258.160431, -25.263374)" fill="none"/><circle cx="250" cy="410.6" r="20" /><path d="M 220 200 L 280 200 L 265 355 L 235 355 L 220 200 Z"/>'
	),
	'warning-fill': (
		'fill': true,
		'strokewidth': '20px',
		'svg': '<path d="M 501.21 42.285 Q 508.159 28.307 515.108 42.285 L 740.843 496.318 Q 747.792 510.296 733.893 510.296 L 282.425 510.296 Q 268.526 510.296 275.475 496.318 Z" transform="matrix(1, -0.000044, 0.000044, 1, -258.160431, -25.263374)"/><circle cx="250" cy="410.6" r="20" fill="white" stroke="white"/><path d="M 220 200 L 280 200 L 265 355 L 235 355 L 220 200 Z" fill="white" stroke="white"/>'
	),
	'hint': (
		'strokewidth': '15px',
		'svg': '<path d="M 200 380 C 200 380 100 300 100 180 C 100 100 200 100 250 100 C 300 100 400 100 400 180 C 400 300 300 380 300 380 L 200 380 Z"/><path d="M 200 380 H 300 V 467 A 13 13 0 0 1 287 480 H 213 A 13 13 0 0 1 200 467 V 380 Z"/><line x1="145" y1="375" x2="110" y2="425"/><line x1="355" y1="375" x2="390" y2="425"/><line x1="90" y1="300" x2="25" y2="334"/><line x1="410" y1="300" x2="475" y2="335"/><line x1="80" y1="220" x2="15" y2="220"/><line x1="420" y1="220" x2="485" y2="220"/><line x1="80" y1="140" x2="20" y2="105"/><line x1="420" y1="140" x2="480" y2="105"/><line x1="355" y1="75" x2="391" y2="25"/><line x1="145" y1="75" x2="110" y2="25"/><line x1="250" y1="65" x2="250" y2="15"/><line x1="210" y1="400" x2="290" y2="406"/><line x1="210" y1="420" x2="290" y2="425"/><line x1="210" y1="440" x2="290" y2="445"/><line x1="210" y1="460" x2="290" y2="465"/><path d="M 220 380 L 170 230 L 189 215 L 202 235 L 214 215 L 226 235 L 238 215 L 250 235 L 264 215 L 276 235 L 288 215 L 300 235 L 311 215 L 330 230 L 280 380"/>'
	),
	'hint-fill': (
		'fill': true,
		'strokewidth': '15px',
		'svg': '<path d="M 200 380 C 200 380 100 300 100 180 C 100 100 200 100 250 100 C 300 100 400 100 400 180 C 400 300 300 380 300 380 L 200 380 Z"/><path d="M 200 380 H 300 V 467 A 13 13 0 0 1 287 480 H 213 A 13 13 0 0 1 200 467 V 380 Z"/><line x1="145" y1="375" x2="110" y2="425"/><line x1="355" y1="375" x2="390" y2="425"/><line x1="90" y1="300" x2="25" y2="334"/><line x1="410" y1="300" x2="475" y2="335"/><line x1="80" y1="220" x2="15" y2="220"/><line x1="420" y1="220" x2="485" y2="220"/><line x1="80" y1="140" x2="20" y2="105"/><line x1="420" y1="140" x2="480" y2="105"/><line x1="355" y1="75" x2="391" y2="25"/><line x1="145" y1="75" x2="110" y2="25"/><line x1="250" y1="65" x2="250" y2="15"/><line x1="210" y1="400" x2="290" y2="406" stroke="white"/><line x1="210" y1="420" x2="290" y2="425" stroke="white"/><line x1="210" y1="440" x2="290" y2="445" stroke="white"/><line x1="210" y1="460" x2="290" y2="465" stroke="white"/><path d="M 220 380 L 170 230 L 189 215 L 202 235 L 214 215 L 226 235 L 238 215 L 250 235 L 264 215 L 276 235 L 288 215 L 300 235 L 311 215 L 330 230 L 280 380" stroke="white"/>'
	),
	'chev': (
		'svg': '<path d="M 110 50 L 400 240 L 110 450"></path>',
		'strokewidth': "30px"
	),
	'tick': (
		'strokewidth': "30px",
		'svg': '<path d="M 50 325 L 175 450 L 450 50"/>'
	),
	'select-list': (
		'fill': true,
		'svg': '<path d="M 647.395 67.011 Q 651.921 60.601 656.446 67.011 L 737.912 182.396 Q 742.438 188.806 733.386 188.806 L 570.455 188.806 Q 561.403 188.806 565.929 182.396 Z" transform="matrix(1, -0.000037, 0.000037, 1, -259.423523, 11.221359)"/><path d="M 647.394 67.012 Q 651.92 60.602 656.446 67.012 L 737.911 182.397 Q 742.437 188.807 733.385 188.807 L 570.455 188.807 Q 561.403 188.807 565.929 182.397 Z" transform="matrix(-1, 0.000037, -0.000037, -1, 1044.427856, 488.786133)" /><rect x="20" y="90" width="225" height="20" rx="3" ry="3"/><rect x="20" y="190" width="225" height="20" rx="3" ry="3"/><rect x="20" y="290" width="225" height="20" rx="3" ry="3"/><rect x="20" y="390" width="225" height="20" rx="3" ry="3"/>'
	),
	'copy': (
		'strokewidth': '15px',
		'svg': '<path d="M 300 350 L 300 475 C 300 477.761 297.761 480 295 480 L 25 480 C 22.239 480 20 477.761 20 475 L 20 155 C 20 152.239 22.239 150 25 150 L 200 150" /><rect x="200" y="20" width="280" height="330" rx="5" ry="5"/><line x1="230" y1="80" x2="450" y2="80"/><line x1="230" y1="130" x2="450" y2="130"/><line x1="230" y1="180" x2="450" y2="180"/><line x1="230" y1="230" x2="450" y2="230"/><line x1="230" y1="280" x2="450" y2="280"/><line x1="50" y1="415" x2="270" y2="415"/><line x1="50" y1="365" x2="270" y2="365"/><line x1="50" y1="315" x2="200" y2="315"/><line x1="50" y1="265" x2="200" y2="265"/><line x1="50" y1="215" x2="200" y2="215"/>'
	),
	'copy-fill': (
		'fill': true,
		'strokewidth': '15px',
		'svg': '<path d="M 300 350 L 300 475 C 300 477.761 297.761 480 295 480 L 25 480 C 22.239 480 20 477.761 20 475 L 20 155 C 20 152.239 22.239 150 25 150 L 200 150"/><rect x="200" y="20" width="280" height="330" rx="5" ry="5"/><line stroke="white" x1="230" y1="80" x2="450" y2="80"/><line stroke="white" x1="230" y1="130" x2="450" y2="130"/><line stroke="white" x1="230" y1="180" x2="450" y2="180"/><line stroke="white" x1="230" y1="230" x2="450" y2="230"/><line stroke="white" x1="230" y1="280" x2="450" y2="280"/><line stroke="white" x1="50" y1="415" x2="270" y2="415"/><line stroke="white" x1="50" y1="365" x2="270" y2="365"/><line stroke="white" x1="50" y1="315" x2="200" y2="315"/><line stroke="white" x1="50" y1="265" x2="200" y2="265"/><line stroke="white" x1="50" y1="215" x2="200" y2="215"/>'
	),
	'search': (
		'strokewidth': '20px',
		'svg': '<path d="M 153.697 243.505 L 154.31 473.305 C 154.31 477.723 150.728 481.305 146.31 481.305 L 122.31 481.305 C 117.892 481.305 114.31 477.723 114.31 473.305 L 115.937 243.93" transform="matrix(0.707107, 0.707106, -0.707106, 0.707107, 295.504313, 11.135839)"/><circle cx="316" cy="181" r="140"/><path d="M 241 140.25 C 281.385 85.25 350.615 85.25 391 140.25"/>'
	),
	'search-fill': (
		'fill': true,
		'strokewidth': '20px',
		'svg': '<path d="M 153.697 243.505 L 154.31 473.305 C 154.31 477.723 150.728 481.305 146.31 481.305 L 122.31 481.305 C 117.892 481.305 114.31 477.723 114.31 473.305 L 115.937 243.93" transform="matrix(0.707107, 0.707106, -0.707106, 0.707107, 295.504313, 11.135839)"/><circle cx="316" cy="181" r="140"/><path d="M 241 140.25 C 281.385 85.25 350.615 85.25 391 140.25" stroke="white"/>'
	),
	'dart': (
		'svg': '<rect transform="matrix(0.719339, -0.694659, 0.694659, 0.719339, -30.922966, 253.086548)" x="180.965" y="157.988" width="46.101" height="200.211" rx="20" ry="20"/><path d="M 25.438 153.833 L 30.259 291.145 L 20.618 291.145 L 25.438 153.833 Z" transform="matrix(-0.707106, 0.707108, -0.707108, -0.707106, 586.543884, 555.066711)"/><path transform="matrix(0.707107, -0.707107, 0.707107, 0.707107, -117.352356, 193.401367)" d="M 220.583 123.174 H 220.649 A 3.3 3.3 0 0 1 223.949 126.474 V 265.77 H 217.283 V 126.474 A 3.3 3.3 0 0 1 220.583 123.174 Z"/><path d="M 120.129 195.142 L 59.665 36.674 L 120.129 97.205 L 179.927 36.674" transform="matrix(0.731353, -0.681999, 0.681999, 0.731353, -46.866317, 112.83908)"/><path d="M 287.804 100.836 L 313.978 146.171 L 261.629 146.171 L 287.804 100.836 Z" transform="matrix(0.320449, 0.947266, -0.947266, 0.320449, 132.977753, -222.118454)"/><path stroke="white" d="M 312.618 342.648 C 320.521 327.145 352.989 327.929 359.277 342.799" transform="matrix(0.819152, -0.573576, 0.573576, 0.819152, -132.577078, 253.648935)"/><path stroke="white" d="M 298.234 328.389 C 306.137 312.886 338.605 313.67 344.893 328.54" transform="matrix(0.819152, -0.573576, 0.573576, 0.819152, -126.999769, 242.819905)"/><path stroke="white" d="M 284.891 313.852 C 292.794 298.349 325.262 299.133 331.55 314.003" transform="matrix(0.819152, -0.573576, 0.573576, 0.819152, -121.074737, 232.537681)"/><path stroke="white" d="M 270.819 299.232 C 278.722 283.729 311.19 284.513 317.478 299.383" transform="matrix(0.819152, -0.573576, 0.573576, 0.819152, -115.233944, 221.822329)"/><path stroke="white" d="M 256.271 285.505 C 264.174 270.002 296.642 270.786 302.93 285.656" transform="matrix(0.819152, -0.573576, 0.573576, 0.819152, -109.991444, 210.995445)"/>',
		'fill': true
	),
	'heart': (
		'svg': '<path d="M 250 477 C 250 477 67.474 342.332 35 236 C 16.883 176.679 11.225 94.943 55 51 C 84.59 21.296 140 17 180 37 C 233 62 250 160 250 160 C 250 160 267 62 320 37 C 360 17 415.41 21.296 445 51 C 488.775 94.943 483.117 176.679 465 236 C 432.526 342.332 250 477 250 477 Z"></path>',
		'strokewidth': '20px'
	),
	'heart-fill': (
		'fill': true,
		'svg': '<path d="M 250 477 C 250 477 67.474 342.332 35 236 C 16.883 176.679 11.225 94.943 55 51 C 84.59 21.296 140 17 180 37 C 233 62 250 160 250 160 C 250 160 267 62 320 37 C 360 17 415.41 21.296 445 51 C 488.775 94.943 483.117 176.679 465 236 C 432.526 342.332 250 477 250 477 Z"></path>'
	),
	'scroll': (
		'strokewidth': '15px',
		'svg': '<path d="M 135.275 70 C 23.056 70 20 160.679 20 251.36 C 20 342.042 20 430 134.724 430 C 249.45 430 250 342.042 250 251.36 C 250 160.679 246.39 70 134.724 70 L 135.275 70 Z"></path><rect x="120" y="120" width="30" height="85.511" rx="15" ry="15"></rect><path d="M 340.003 124.996 L 396.261 64.841 C 401.755 58.393 407.247 58.393 412.739 64.841 L 465.003 125.005" transform="matrix(1, -0.000077, 0.000077, 1, -0.007122, 0.030993)"></path><path d="M 340.003 190.006 L 396.261 129.851 C 401.755 123.403 407.247 123.403 412.739 129.851 L 465.003 190.015" transform="matrix(1, -0.000077, 0.000077, 1, -0.012127, 0.030993)"></path><path d="M 340.003 424.996 L 396.261 364.841 C 401.755 358.393 407.247 358.393 412.739 364.841 L 465.003 425.005" transform="matrix(-1, 0.000077, -0.000077, -1, 805.036203, 784.979016)"></path><path d="M 340.003 359.986 L 396.261 299.831 C 401.755 293.383 407.247 293.383 412.739 299.831 L 465.003 359.995" transform="matrix(-1, 0.000077, -0.000077, -1, 805.031197, 654.958997)"></path>'
	),
	'scroll-fill': (
		'strokewidth': '15px',
		'svg': '<path d="M 135.275 70 C 23.056 70 20 160.679 20 251.36 C 20 342.042 20 430 134.724 430 C 249.45 430 250 342.042 250 251.36 C 250 160.679 246.39 70 134.724 70 L 135.275 70 Z"></path><rect x="120" y="120" width="30" height="85.511" rx="15" ry="15" fill="white" stroke="white"></rect><path d="M 340.003 124.996 L 396.261 64.841 C 401.755 58.393 407.247 58.393 412.739 64.841 L 465.003 125.005" transform="matrix(1, -0.000077, 0.000077, 1, -0.007122, 0.030993)" fill="none"></path><path d="M 340.003 190.006 L 396.261 129.851 C 401.755 123.403 407.247 123.403 412.739 129.851 L 465.003 190.015" transform="matrix(1, -0.000077, 0.000077, 1, -0.012127, 0.030993)" fill="none"></path><path d="M 340.003 424.996 L 396.261 364.841 C 401.755 358.393 407.247 358.393 412.739 364.841 L 465.003 425.005" transform="matrix(-1, 0.000077, -0.000077, -1, 805.036203, 784.979016)" fill="none"></path><path d="M 340.003 359.986 L 396.261 299.831 C 401.755 293.383 407.247 293.383 412.739 299.831 L 465.003 359.995" transform="matrix(-1, 0.000077, -0.000077, -1, 805.031197, 654.958997)" fill="none"></path>',
		'fill': true
	),
	'cross': (
		'svg': '<line x1="50" y1="50" x2="450" y2="450" stroke-linecap="round"></line><line x1="50" y1="450" x2="450" y2="50" stroke-linecap="round"></line>',
		'strokewidth': "30px"
	),
	'home': (
		'svg': '<path d="M 220 480 L 90 480 L 90 225 L 20 225 L 120 125 L 120 40 L 171 40 L 171 85 L 250 20 L 480 225 L 410 225 L 410 480 L 280 480 L 280 380 L 220 380 L 220 480 Z"></path><rect x="134.322" y="235" width="65" height="65"></rect><rect x="300" y="235" width="65.048" height="65"></rect>',
		'strokewidth': '20px'
	),
	'home-fill': (
		'fill': true,
		'svg': '<path d="M 220 480 L 90 480 L 90 225 L 20 225 L 120 125 L 120 40 L 171 40 L 171 85 L 250 20 L 480 225 L 410 225 L 410 480 L 280 480 L 280 380 L 220 380 L 220 480 Z"></path><rect x="134.322" y="235" width="65" height="65" fill="white"></rect><rect x="300" y="235" width="65.048" height="65" fill="white"></rect>',
	),
	'location': (
		'fill': true,
		'svg': '<path d="M 250 485 C 250 485 222.325 376.223 200 325 C 173.157 263.41 89.335 216.334 100 150 C 110.678 83.585 170.961 15 250 15 C 329.039 15 389.322 83.585 400 150 C 410.665 216.334 326.843 263.41 300 325 C 277.675 376.223 251.705 479.591 250 485 Z"></path><circle cx="251.705" cy="158.859" r="50" transform="matrix(1, 0, 0, 0.999998, -1.705044, -8.858772)" fill="white"></circle>'
	),
	'profile': (
		'strokewidth': '15px',
		'svg': '<path d="M 30 278 C 30 278 50.647 194.343 85 178 C 101.827 169.995 121.368 187.747 140 188 C 161.92 188.298 185.334 168.314 205 178 C 239.128 194.809 245.511 237.826 245.511 237.826"></path><circle cx="131.059" cy="88.856" r="60.783" transform="matrix(1.151647, 0, 0, 1.157264, -8.933851, 5.169579)"></circle><rect x="150" y="238" width="320" height="210" rx="20" ry="20"></rect><rect x="190" y="268" width="100" height="100"></rect><line x1="320" y1="268" x2="440" y2="268"></line><line x1="320" y1="293" x2="440" y2="293"></line><line x1="320" y1="318" x2="440" y2="318"></line><line x1="320" y1="343" x2="440" y2="343"></line><line x1="320" y1="368" x2="440" y2="368"></line><line x1="190" y1="398" x2="440" y2="398"></line><line x1="190" y1="423" x2="440" y2="423"></line>',
	),
	'code': (
		'svg': '<path d="M 538.171 251.795 L 624.719 106.106 C 631.931 93.965 639.143 93.965 646.355 106.106 L 732.903 251.795" transform="matrix(0.00006, 1, -1, 0.00006, 569.974915, -390.66037)"></path><path d="M 8.037 322.284 L 94.585 176.595 C 101.797 164.454 109.009 164.454 116.221 176.595 L 202.769 322.284" transform="matrix(-0.00006, -1, 1, -0.00006, -139.477298, 350.30431)"></path><line x1="210" y1="375" x2="290" y2="115"></line>',
		'strokewidth': '30px'
	)
);
$allow-icons: true !default;
$allow-colored-icons: true !default;
$allow-sized-icons: true !default;
$icon-color-base: $theme-color-base;
$icon-line-width: 10px;

//grid
$grid-item-gutter:30px !default;
$grid-item-gutter-vertical: 30px !default;
$breakpoint-mini: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;


//breakpoints
$breakpoints: (
	mini: $breakpoint-mini,
	sm: $breakpoint-sm,
	md: $breakpoint-md,
	lg: $breakpoint-lg,
	xl: $breakpoint-xl
) !default;


//spacings
$extra-small-spacing: 8px !default;
$small-spacing: 16px !default;
$medium-spacing: 24px !default;
$large-spacing: 32px !default;
$extra-large-spacing: 40px !default;
$espacings: ("no": 0, "sm": $small-spacing, "md": $medium-spacing, "lg": $large-spacing, "xs": $extra-small-spacing, "xl": $extra-large-spacing);
$spacings: null !default;
@if $spacings
{
	$spacings: map-merge($spacings, $espacings);
}
@else
{
	$spacings: $espacings;
}

//type
$responsiveheadings: 75 !default;
$font-size-small: 12px !default;
$font-size-base: 16px !default;
$font-size-large: 20px !default;
$line-height-small: 18px !default;
$line-height-base: 24px !default;
$line-height-large: 26px !default;
$h1-size: $font-size-base * 3.3 !default;
$h2-size: $font-size-base * 2.7 !default;
$h3-size: $font-size-base * 2.2 !default;
$h4-size: $font-size-base * 1.8 !default;
$h5-size: $font-size-base * 1.5 !default;
$h6-size: $font-size-base * 1.3 !default;
$underline-headings: false !default;
$font-base: 'Roboto Mono', monospace !default;
$font-heading: 'Josefin Sans', sans-serif !default;
$font-color-base: $black !default;
$font-link-color: $theme-color-tertiary !default;
$list-item-counter-color: $theme-color-tertiary !default;
$card-background-color: rgba($theme-color-secondary,0.4) !default;
$card-border-color: $theme-color-base !default;
$efontsizes: (
	"small": ("size": $font-size-small, "lh": $line-height-small),
	"large": ("size": $font-size-large, "lh": $line-height-large)
);
$fontsizes: null !default;
@if $fontsizes
{
	$fontsizes: map-merge($fontsizes, $efontsizes);
}
@else
{
	$fontsizes: $efontsizes;
}


//animation-easings
$transition-slow-in: cubic-bezier(.09,1.08,.74,.95); 
$transition-slow-in-slow-out: cubic-bezier(0,.44,1,.45);
$transition-fast-in: cubic-bezier(1,.15,.72,.81); 
$transition-base: cubic-bezier(.11,.82,.63,.94);

//tables
$table-color-base: $theme-color-base !default;
$table-color-secondary: $theme-color-secondary !default;
$table-color-highlight: $theme-color-tertiary !default;
$table-height-limit: 500px !default;
$table-cell-width-limit: 200px !default;

//forms
$form-color-base: $theme-color-base !default;
$form-color-secondary: $theme-color-secondary !default;
$form-color-valid: $black !default;
$form-color-invalid: $red !default;
$form-item-size: 50px !default;
$form-inline-input-size: 67% !default;

//focus-ring
$focus-ring-color: $turquoise !default;
$focus-ring-shadow: 0 0 0.3rem 0.1rem $focus-ring-color !default;

//buttons
$button-size: 50px !default;
$button-padding: 20px !default;
$button-color-base: $theme-color-base !default;
$button-color-white: $black !default;

//Slider
$slider-counter-active-color: $theme-color-base !default;
$slider-counter-inactive-color: $theme-color-secondary !default;
$slider-counter-size: 20px !default;

//Tabs
$tabs-title-color: $theme-color-base !default;
$tabs-title-size: $h5-size !default;
$tabs-active-color: $theme-color-tertiary !default;
$tabs-seperator-color: $theme-color-secondary !default;

// Z's
$top-layer-z: 9999;
