.rwx-loading
{
	overflow:hidden;
	position:relative;
	&:before
	{
		content:"";
		overflow:hidden;
		z-index:9998;
		@include full-size;
		background: rgba($grey, 0.5);
	}
	&:after
	{
		z-index: 9999;
		animation: loading 2s cubic-bezier(0,.44,1,.45) infinite;
		content: "";
		position:absolute;
		height:200%;
		width:200%;
		background:linear-gradient(to bottom, rgba($grey,0), rgba($white,0) 40%, rgba($white,1) 50%, rgba($white,0) 60%, rgba($grey,0));
		transform:rotate(-45deg);
	}
}

@keyframes loading {
	0% {
		left:-150%;
		top: -150%;
	}
	100% {
		left: 150%;
		top: 100%;
	}
}