body {
	font-family: $font-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $font-color-base;
}

@mixin additionalheadingstyle {
  margin-bottom: 1.3rem;
  &.underline
  {
    text-decoration:underline;
  }
  &.no-underline
  {
    text-decoration:none;
  }
  @if $underline-headings
  {
    text-decoration: underline;
  }
}

@mixin headingstyle {
  font-family: $font-heading;
  @extend .rwxt-bold;  
}

@mixin h1 {
  @include headingstyle;
  font-size: rem($h1-size);
  line-height: rem($h1-size) + 0.55rem;  
}

@mixin h2 {
  @include headingstyle;
  font-size: rem($h2-size);
  line-height: rem($h2-size) + 0.55rem;  
}

@mixin h3 {
  @include headingstyle;
  font-size: rem($h3-size);
  line-height: rem($h3-size) + 0.55rem;  
}

@mixin h4 {
  @include headingstyle;
  font-size: rem($h4-size);
  line-height: rem($h4-size) + 0.55rem;  
}

@mixin h5 {
  @include headingstyle;
  font-size: rem($h5-size);
  line-height: rem($h5-size) + 0.55rem;  
}

@mixin h6 {
  @include headingstyle;
  font-size: rem($h6-size);
  line-height: rem($h6-size) + 0.55rem;  
}

h1, .h1
{
  @include h1;
  @include additionalheadingstyle;
}

h2, .h2
{
  @include h2;
  @include additionalheadingstyle;
}

h3, .h3
{
  @include h3;
  @include additionalheadingstyle;
}

h4, .h4
{
  @include h4;
  @include additionalheadingstyle;
}

h5, .h5
{
  @include h5;
  @include additionalheadingstyle;
}

h6, .h6
{
  @include h6;
  @include additionalheadingstyle;
}

@if $secton-seperators
{
  section, .section
  {
    border-top: 3px solid $section-seperator-color;
    section, .section
    {
      border-top: 2px solid $section-seperator-color;
      section, .section
      {
        border-top: 1px solid $section-seperator-color;
      }
    }
  }
}

section, .section
{
  margin-top: $large-spacing;
  margin-bottom: $large-spacing;
  padding-top:20px;
  section, .section
  {
    margin-top: $medium-spacing;
    margin-bottom: $medium-spacing;
    padding-top:15px;
    section, .section
    {
      padding-top:10px;
      margin-top: $small-spacing;
      margin-bottom: $small-spacing;
    }
  }
}


p, strong
{
  margin-bottom:1.1rem;
}

sup, p.small, strong.small, span.small, li.small
{
  @extend .rwxt-small;
}

a
{
  &:not(.rwx-button):not(.no-decoration)
  {
    text-decoration:none;
    color:$font-link-color;
    display:inline-block;
    position:relative;
    &:after
    {
      display:inline-block;
      content:"";
      width:0px;
      height:1px;
      background-color:$font-link-color;
      transition: all 0.3s $transition-fast-in;
      position:absolute;
      bottom:0px;
      width:100%;
      left:0;
    }
    &:focus
    {
      @include focus-ring;
    }
    &:hover, &.active
    {
      &:after
      {
        transition: all 0.3s $transition-fast-in;
        left:45%;
        width:5%;
      }
    }
    &.inverted
    {
      &:after
      {
        width:0;
        left:50%;
      }
      &:hover, &.active
      {
        &:after
        {
          left:0;
          width:100%;
        }
      } 
    }
  }
}

ul
{
  margin-bottom: 1.5rem;
  padding-left:0.8rem;
  &:not(.no-decoration)
  {
    li
    {
      position:relative;
      margin-bottom:0.75rem;
      padding-left: 25px;
      &:before {
        position:absolute;
        left:0px;
        top:12px;
        content:"";
      }
    }
    &:not(.numbered)
    {
      li:before {
        width:10px;
        height:2px;
        background: $list-item-counter-color;
      }
    }
  }
  &.numbered
  {
    counter-reset: ulnumbered;
    li {
      min-height:30px;
      padding-left: 50px;
      padding-top:3px;
    }
    li:before {
      counter-increment: ulnumbered;
      content: counter(ulnumbered)".";
      color: $list-item-counter-color;
      @include h3;
      top:0px;
    }
  }
  &.inline
  {
    display:flex;
    flex-wrap:wrap;
    li
    {
      margin-right: 50px;
      &:before
      {
        height:8px !important;
        width:8px !important;
        top:10px;
        background: $list-item-counter-color;
        border-radius:100%;
      }
    }
  }
}

$weights: ("light": 200, "normal": 400, "bold": 700, "extra-bold": 900);

@each $selector, $weight in $weights
{
	.rwxt-#{$selector}
	{
		font-weight: $weight !important;
	}
}

.rwxt-no-underline
{
  text-decoration: none !important;
}

.rwxt-underline
{
  text-decoration: underline !important;
}

.rwxt-small
{
  font-size:$font-size-small !important;
  line-height:$line-height-small !important;
}
.rwxt-uppercase
{
  text-transform: uppercase !important;
}

.rwxt-text-center
{
  text-align:center !important;
}

.rwxt-text-right
{
  text-align:right !important;
}

$cards: ("help": $orange, "note": $light-blue, "warning": $red, "hint": $yellow, "feature": $light-green);

@each $card, $color in $cards
{
  p.#{$card}
  {
    text-align:left;
    padding: 15px 10px 15px 70px;
    position:relative;
    background-color:$card-background-color;
    box-shadow: 0px 0px 3px $card-border-color;
    min-height:80px;
    &:before
    {
      content: "";
      width:33px;
      height:33px;
      position:absolute;
      top:20px;
      left:10px;
      background: icon(#{$card}, $white); 
      z-index:2;    
    }
    &:after
    {
      content: "";
      position:absolute;
      left:0px;
      top:0px;
      height:100%;
      width:50px;
      z-index:1;
      background-color: rgba($color, 0.6);
    }
  }
}