@function safeHexForSvg($color)
{
  @return '%23' + str-slice('#{$color}', 2, -1)
}

@function icon($type, $color:$theme-color-base) {
	$icon:null;
	@if map-has-key($icons, $type) {
		$icon: map-get($icons, $type);
	}
	@else {
		@warn "`#{$type} is not a valid icon. Available icons are: #{map-keys($icons)}`";
		@return none;
	}
  
	$toReturn: url("data:image/svg+xml, <svg viewBox='0 0 #{map-get($icon, 'viewbox')}' stroke='#{safeHexForSvg($color)}' fill='none' xmlns='http://www.w3.org/2000/svg'>#{map-get($icon, 'svg')}</svg>");
	@return $toReturn;
}