@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

//color palette
$black: #000000 !default;
$grey: #E3E3E3 !default;
$dark-grey: #313131 !default;
$silver: #263547 !default;
$white: #FFFFFF !default;
$orange: #E65C00 !default;
$red: #FF3333 !default;
$blue: #1342A0 !default;
$light-blue: #3399FF !default;
$turquoise: #39EEB2 !default;
$green: #1C7503 !default;
$light-green: #3EEE3E !default;
$yellow: #FCE205 !default;
$purple: #731773 !default;
$pink: #FF33CC !default;
$brown: #9A3300 !default;

$ecolors: ('black':$black, 
					'grey':$grey, 
					'dark-grey':$dark-grey, 
					'white':$white, 
					'orange':$orange,
					'red': $red,
					'blue': $blue,
					'light-blue': $light-blue,
					'green': $green,
					'light-green': $light-green,
					'turquoise': $turquoise,
					'yellow': $yellow,
					'purple': $purple,
					'pink': $pink,
					'brown': $brown,
					'silver': $silver
					);
$colors: null !default;
@if $colors
{
	$colors: map-merge($colors, $ecolors);
}
@else
{
	$colors: $ecolors;
}

$icons: (
	'tick': (
		'viewbox': "40 40", 
		'svg': "<polyline points='4,24 14,34 36,8' stroke-linecap='round' stroke-linejoin='round' stroke-width='3px' />"
	),
	'select-list': (
		'viewbox': "40 40", 
		'svg': "<polyline points='2,6 16,6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2px' /><polyline points='2,14 16,14' stroke-linecap='round' stroke-linejoin='round' stroke-width='2px' /><polyline points='2,24 16,24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2px' /><polyline points='2,32 16,32' stroke-linecap='round' stroke-linejoin='round' stroke-width='2px' /><polyline points='24,14 37,14 31,5 24,14 37,14' stroke-width='2px' /><polyline points='24,24 37,24 31,33 24,24 37,24' stroke-width='2px' />",
		'canhavefill': true
	),
	'help': (
		'viewbox': "40 40",
		'svg': "<path d='m 12 12 c 0 -20 33 -3 8 8 l 0 7' stroke-linecap='round' stroke-linejoin='round' stroke-width='3px' /><circle cx='20' cy='37' r='1' stroke-width='2' />"
	),
	'note': (
		'viewbox': "40 40",
		'svg': "<path d='m 18 0 l 4 0 l -2 27 l -2 -27' stroke-linecap='round' stroke-width='4px' /><circle cx='20' cy='37' r='1.5' stroke-width='3' />"
	),
	'warning': (
		'viewbox': "40 40",
		'svg': "<path d='m 20 2 l 18 36 l -36 0 l 18 -36 l 18 36' stroke-linejoin='round' stroke-width='2px' /><circle cx='20' cy='32' r='1' stroke-width='2' /><path d='m 19 16 l 2 0 l -1 12 l -1 -12' stroke-linecap='round' stroke-width='2px' />",
		'canhavefill': true,
		'fillneedsstroke': true
	),
	'hint': (
		'viewbox': "40 40",
		'svg': "<path d='m 17 32 c -30 -32 36 -32 6 0 m 0 1 l -6 0 m 0 2 l 6 0 m 0 2 l -6 0 m 0 2 l 6 0 m -11 -9 l -5 5 m 0 -13 l -5 2 m 5 -12 l -5 -2 m 12 -4 l -3 -5 m 14 5 l 3 -5 m 5 11 l 4 -2 m -4 12 l 5 1 m -10 7 l 5 5' stroke-width='2.5px' />",
		'canhavefill': true
	),
	'feature': (
		'viewbox': "46 46",
		'svg': "<path d='m 17.5 17.5 l 5 -13 l 4 13 l 14 0 l -10 9 l 5 14 l -13 -8 l -13 8 l 5 -14 l -10 -9 l 13 0 l 5 -13' stroke-width='2.5px' />",
		'canhavefill': true
	),
	'rchev' : (
		'viewbox': "40 40",
		'svg': "<path d='m 8 8 l 26 12 l -26 14 l 0 -26 l 2 1' stroke-width='2px' />",
		'canhavefill': true
	),
	'lchev' : (
		'viewbox': "40 40",
		'svg': "<path d='m 8 20 l 26 -12 l 0 26 l -26 -14 l 2 -1' stroke-width='2px' />",
		'canhavefill': true
	),
	'dchev' : (
		'viewbox': "40 40",
		'svg': "<path d='m 7 8 l 25 0 l -12 24 l -13 -24 l 1 0' stroke-width='2px' />",
		'canhavefill': true
	),
	'uchev' : (
		'viewbox': "40 40",
		'svg': "<path d='m 20 8 l 14 24 l -26 0 l 12 -24 l 1 2' stroke-width='2px' />",
		'canhavefill': true
	),
	'copy': (
		'viewbox': "40 40",
		'svg': "<path d='m 17 14 h -12 t -1 1 v 20 t 1 1 h 16 t 1 -1 v -9' stroke-width='2px' /><path d='m 18 4 h 17 t 1 1 v 20 t -1 1 h -17 t -1 -1 v -20 t 1 -1 h 2' stroke-width='2px' />",
		'canhavefill': true,
		'fillneedsstroke': true
	),
	'circle': (
		'viewbox': "40 40",
		'canhavefill': true,
		'svg': "<circle cx='20' cy='20' r='19.5'/>"
	)
);
$allowIcons: true !default;
$allowColoredIcons: true !default;
$allowSizedIcons: true !default;

//theme
$theme-color-base: $dark-grey !default;
$theme-color-secondary: $grey !default;
$theme-color-tertiary: $light-blue !default;

//grid
$grid-item-gutter:15px !default;
$grid-item-gutter-vertical: $grid-item-gutter*2 !default;
$breakpoint-mini: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

//breakpoints
$breakpoints: (
	mini: $breakpoint-mini,
	sm: $breakpoint-sm,
	md: $breakpoint-md,
	lg: $breakpoint-lg,
	xl: $breakpoint-xl
) !default;


//spacings
$extra-small-spacing: 8px !default;
$small-spacing: 16px !default;
$medium-spacing: 24px !default;
$large-spacing: 32px !default;
$extra-large-spacing: 40px !default;
$espacings: ("no": 0, "sm": $small-spacing, "md": $medium-spacing, "lg": $large-spacing, "xs": $extra-small-spacing, "xl": $extra-large-spacing);
$spacings: null !default;
@if $spacings
{
	$spacings: map-merge($spacings, $espacings);
}
@else
{
	$spacings: $espacings;
}

//type
$responsiveheadings: 75 !default;
$font-size-small: 12px !default;
$font-size-base: 16px !default;
$font-size-large: 20px !default;
$line-height-small: 18px !default;
$line-height-base: 24px !default;
$line-height-large: 26px !default;
$h1-size: $font-size-base * 3.3 !default;
$h2-size: $font-size-base * 2.7 !default;
$h3-size: $font-size-base * 2.2 !default;
$h4-size: $font-size-base * 1.8 !default;
$h5-size: $font-size-base * 1.5 !default;
$h6-size: $font-size-base * 1.3 !default;
$underline-headings: false !default;
$font-base: 'Roboto Mono', monospace !default;
$font-heading: 'Josefin Sans', sans-serif !default;
$font-color-base: $black !default;
$font-link-color: $theme-color-tertiary !default;
$list-item-counter-color: $theme-color-tertiary !default;
$card-background-color: rgba($theme-color-secondary,0.4) !default;
$card-border-color: $theme-color-base !default;
$efontsizes: (
	"small": ("size": $font-size-small, "lh": $line-height-small),
	"large": ("size": $font-size-large, "lh": $line-height-large)
);
$fontsizes: null !default;
@if $fontsizes
{
	$fontsizes: map-merge($fontsizes, $efontsizes);
}
@else
{
	$fontsizes: $efontsizes;
}


//animation-easings
$transition-slow-in: cubic-bezier(.09,1.08,.74,.95); 
$transition-slow-in-slow-out: cubic-bezier(0,.44,1,.45);
$transition-fast-in: cubic-bezier(1,.15,.72,.81); 
$transition-base: cubic-bezier(.11,.82,.63,.94);

//tables
$table-color-base: $theme-color-base !default;
$table-color-secondary: $theme-color-secondary !default;
$table-color-highlight: $theme-color-tertiary !default;
$table-height-limit: 500px !default;
$table-cell-width-limit: 200px !default;

//forms
$form-color-base: $theme-color-base !default;
$form-color-secondary: $theme-color-secondary !default;
$form-color-valid: $black !default;
$form-color-invalid: $red !default;
$form-item-size: 50px !default;
$form-inline-input-size: 67% !default;

//focus-ring
$focus-ring-color: $turquoise !default;
$focus-ring-shadow: 0 0 0.3rem 0.1rem $focus-ring-color !default;

//buttons
$button-size: 50px !default;
$button-padding: 20px !default;
$button-color-base: $theme-color-base !default;
$button-color-white: $black !default;

//Slider
$slider-counter-active-color: $theme-color-base !default;
$slider-counter-inactive-color: $theme-color-secondary !default;
$slider-counter-size: 20px !default;

//Tabs
$tabs-title-color: $theme-color-base !default;
$tabs-title-size: $h5-size !default;
$tabs-active-color: $theme-color-tertiary !default;
$tabs-seperator-color: $theme-color-secondary !default;

// Z's
$top-layer-z: 9999;
