@mixin button($color)
{
	color: $color;
	border: 1px solid $color;
	box-shadow: 2px 2px $color;
	background-color:white;
	&:not(:disabled)
	{
		&:hover, &:focus
		{
			background-color:$color;
			box-shadow:none;
			border: 1px solid $color;
			color:$white;
		}
	}
	&:disabled
	{
		color: $grey;
		border: 1px solid $grey;
		box-shadow: 2px 2px $grey;
	}
}

@mixin invertedButton($color)
{
	background-color:$color;
	box-shadow:none;
	border: 1px solid $color;
	color:$white;
	&:not(:disabled)
	{
		&:hover, &:focus
		{
			color: $color;
			border: 1px solid $color;
			box-shadow: 2px 2px $color;
			background-color:white;
		}
	}

	&:disabled
	{
		background-color:$grey;
		border: 1px solid $grey;
	}		
}

.rwx-button, button:not(.no-decoration)
{
	display:inline-block;
	min-height:$button-size;
	padding:0.75rem 1.5rem 0.75rem 1.5rem;
	transition: all 0.7s $transition-base;
	@include h6;
	cursor:pointer;
	&:hover, &:focus
	{
		outline:none;
		transition: all 1s $transition-base;
	}
	@include button($button-color-base);
	&.--inverted
	{
		@include invertedButton($button-color-base);	
	}
	@each $modifier, $color in $colors
	{
		&.--#{$modifier}
		{
			@include button($color);
			&.--inverted
			{
				@include invertedButton($color);
			}
		}
	}
}

button.no-decoration
{
	appearance:none;
	background:none;
	outline:none;
	border:none;
	font-size:inherit;
	font:inherit;
	padding:0;
	color:inherit;
}