
@function safeHexForSvg($color)
{
  @return '%23' + str-slice('#{$color}', 2, -1)
}

@mixin required
{
	position:relative;
	&:after
	{
		content:"*";
		position:absolute;
		right:0px;
		top:0px;
	}
}

.rwx-form
{
	position:relative;
	@include component-spacing;
	&-item
	{
		display:flex;
		flex-direction:column;
		margin-bottom:20px;
		label
		{
			color:$form-color-base;
			display:block;
			margin-bottom:10px;
			order:1;
		}
		select
		{
			-webkit-appearance: none;
		}
		input, select, textarea
		{
			order:2;
			color: $form-color-base;
			padding-left:15px;
			min-height:$form-item-size;
			height:$form-item-size;
			width:100%;
			border:1px solid $form-color-secondary;
			transition: 0.5s border $transition-base;
			font: inherit;
			&:focus
			{
				outline:none;
				@include focus-ring;
			}
			&[readonly]
			{
				background-color: $form-color-secondary;
			}
		}

		&.required
		{
			@include required;
			label
			{
				padding-right:20px;
			}	
		}

		&.valid, &.invalid
		{
			input, select, textarea
			{
				transition: 0.5s border $transition-base;
			}
			&.rwx-checkbox, &.rwx-toggle
			{
				label:after
				{
					transition: 0.5s border $transition-base;
					border: 1px solid $form-color-invalid;
				}
			}
		}

		&.valid
		{
			input, select, textarea
			{
				border: 1px solid $form-color-valid;
			}
			&.rwx-checkbox, &.rwx-toggle
			{
				label:after
				{
					border: 1px solid $form-color-valid;
				}
			}
		}
		&.invalid
		{
			input, select, textarea
			{
				border: 1px solid $form-color-invalid;
			}
			.invalid-message
			{
				display:block;
			}
			&.rwx-checkbox, &.rwx-toggle
			{
				label:after
				{
					border: 1px solid $form-color-invalid;
				}
			}
		}
		.invalid-message
		{
			color: $red;
			order: 3;
			margin-top:5px;
			font-size: $font-size-small;
			display:none;
		}


		&.rwx-checkbox, &.rwx-toggle, &.rwx-radio
		{
			input[type="checkbox"], input[type="radio"]
			{
				position:absolute;
				width:1px;
				left:-$form-item-size;
				&:focus + label
				{
					&:after
					{
						transition: 0.5s border $transition-base;
						@include focus-ring;
						border:1px solid $form-color-secondary;
					}
				}
			}
			label
			{
				cursor:pointer;
				position:relative;
				&:after, &:before
				{
					content:"";
				}
				&:after
				{
					margin-top:10px;
					display:block;
					border:1px solid $form-color-secondary;
				}
				&:before
				{
					position:absolute;
				}
			}
		}

		&.rwx-radio
		{
			input[type="radio"]
			{
				&:checked + label
				{
					&:before
					{
						width: $form-item-size;
						height: $form-item-size;
						left:0;
						bottom:0;
						transition: all 0.5s $transition-base;
					}
				}
			}
			label
			{
				&:after
				{
					width: $form-item-size;
					height: $form-item-size;
					border-radius: $form-item-size/2;
				}
				&:before
				{
					width: 0;
					height: 0;
					border-radius: $form-item-size/2;
					background-color: $form-color-base;
					left:$form-item-size/2;
					bottom:$form-item-size/2;
					transition: all 0.5s $transition-base;
				}
			}
		}

		&.rwx-checkbox
		{
			input[type="checkbox"]
			{
				&:checked + label
				{
					&:before
					{
						opacity:1;
						transition: opacity 1s $transition-base;
					}
				}
			}
			label
			{
				&:after
				{
					width: $form-item-size;
					height: $form-item-size;
				}
				&:before
				{
					background-image: icon('tick', $form-color-base);
					bottom:$form-item-size/4;
					left:$form-item-size/4;
					width:$form-item-size/2;
					height:$form-item-size/2;
					opacity:0;
					transition: opacity 0.5s $transition-base;
				}
			}
		}

		&.rwx-toggle
		{
			input[type="checkbox"]
			{
				&:checked + label
				{
					&:before
					{
						left:$form-item-size;
						background-color: $form-color-base;
						transition: all 0.5s $transition-base;
					}
				}
			}
			label
			{
				&:after
				{
					width:$form-item-size*2;
					height:$form-item-size;
					background-color: transparent;
					border-radius:$form-item-size/2;
				}
				&:before
				{
					bottom:0px;
					left:0px;
					height:$form-item-size;
					width:$form-item-size;
					border-radius:$form-item-size/2;
					background-color: $form-color-secondary;
					transition: all 0.5s $transition-base;
				}
			}
		}

		&.rwx-select
		{
			select
			{
				background-color:$white;
				padding-right:$form-item-size;
				cursor:pointer;
			}
			position:relative;
			select:not([multiple]) + label
			{
				&:after, &:before
				{
					content:"";
					position:absolute;
				}
				&:after
				{
					bottom:1px;
					right:1px;
					height:$form-item-size - 2px;
					width:$form-item-size - 2px;
					z-index:1;
					background-color:$white;
				}
				&:before
				{
					right: $form-item-size / 4;
					bottom: $form-item-size / 4;
					height:$form-item-size / 2;
					width:$form-item-size / 2;
					z-index:2;
					content:"";
					background-image: icon('select-list', $form-color-base);
				}
			}
		}
	}
	&-radio-group
	{
		p{color:$form-color-base;width:100%;}
		display:flex;
		flex-wrap:wrap;
		justify-content: space-between;
		align-items:center;
		&.required
		{
			p{@include required;padding-right:20px;}
		}
		label
		{
			text-align:center;
		}
	}
}