$grid-classes:
  //"full" 100%,
  "half" 50%,
  "third" 33.33%,
  "third-x2" 66.66%,
  "quarter" 25%,
  "quarter-x3" 75%,
  "fifth" 20%,
  "fifth-x2" 40%,
  "fifth-x3" 60%,
  "fifth-x4" 80%;



.rwx-split
{
	padding-left: $grid-item-gutter;
	padding-right: $grid-item-gutter;
	.rwx-split
	{
		padding-left:0px;
		padding-right:0px;
	}
	&.breakout-rsp
	{
		@include snap-down-from('md')
		{
			margin-left:-$grid-item-gutter !important;
			margin-right:-$grid-item-gutter !important;
			padding-left:$grid-item-gutter*2 !important;
			padding-right:$grid-item-gutter*2 !important;
		}
	}
	&.equal-padding
	{
		@include snap-up-from('md')
		{
			margin-left:-$grid-item-gutter;
			margin-right:-$grid-item-gutter;
		}
	}
	&.no-wrap
	{
		flex-wrap:nowrap;
		@each $selector, $value in $grid-classes
		{
			.rwx-split-#{$selector}
			{
				width: #{$value} !important;
			}
		}
	}
	&.end-vertically
	{
		align-items: flex-end;
	}
	&.center-vertically
	{
		align-items: center;
	}
	&.center
	{
		justify-content:center;
	}
	&.space-between
	{
		justify-content: space-between;
	}
	&.space-around
	{
		justify-content: space-around;
	}
	&.non-fluid
	{
		@include snap-up-from('md')
		{
			max-width: map-get($breakpoints, 'md');
			margin:auto;
		}
		@include snap-up-from('lg')
		{
			max-width: map-get($breakpoints, 'lg');
		}
		@include snap-up-from('xl')
		{
			max-width: map-get($breakpoints, 'xl');
		}
	}
	&-full
	{
		width:100%;
		padding-left:0px;
		padding-right:0px;
	}
	//overflow-x:hidden;
	display:flex;
	flex-wrap:wrap;

	@each $selector, $value in $grid-classes
	{
		@include snap-up-from('md')
		{
		&.equal-padding .rwx-split-#{$selector}
		{
			&:last-of-type
			{
				padding-right:$grid-item-gutter;
			}
			&:first-of-type
			{
				padding-left:$grid-item-gutter;
			}
		}
		}

		&-#{$selector}
		{
			width: #{$value};
			padding-left: $grid-item-gutter;
			padding-right: $grid-item-gutter;
			&:last-of-type
			{
				padding-right:0px;
			}
			&:first-of-type
			{
				padding-left:0px;
			}
			position:relative;
			@include snap-down-from('md')
			{
				padding-top:$grid-item-gutter;
				padding-bottom:$grid-item-gutter;
				padding-left: 0px;
				padding-right:0px;
				width:100%;
			}
		}
		& .rwx-split &-#{$selector}
		{
			@include snap-down-from('md')
			{
				&:not(:first-of-type), &:not(:last-of-type)
				{
					padding-left:0px;
					padding-right:0px;
				}
			}
		}
	}
}