@import '../core/rwx-variables';
$rwx-animated-border-from-color: $blue !default;
$rwx-animated-border-to-color: $orange !default;
$rwx-animated-border-size: 5px !default;

@mixin finish-styles {
	stroke-dasharray: 50 0;
	stroke-width: $rwx-animated-border-size;
	stroke-dashoffset: 0;
	stroke: $rwx-animated-border-to-color;	
}
.rwx-animateable-border
{
	svg
	{
		position:absolute;
		rect
		{
			stroke-width:$rwx-animated-border-size;
			fill:transparent;
			stroke: $rwx-animated-border-from-color;
			transition: 1s all ease;
		}
		&.active, &:hover
		{
			rect
			{
				@include finish-styles;
			}			
		}
	}
	&.active, &:hover
	{
		svg rect {
			@include finish-styles;		
		}
	}
}