@import '../core/rwx-variables';
$mist-size: 50px;
.rwx-tabs
{
	margin-bottom: $large-spacing;
	margin-top: $large-spacing;
	&-container
	{
		padding: 10px;
		margin-bottom: 40px;
		display:flex;
		align-items:flex-end;
		border-bottom: 2px solid $grey;
		position:relative;
		overflow-x:auto;
		overflow-y:visible;
		span
		{
			cursor:pointer;
			color: $tabs-title-color;
			font-size: $h5-size;
			font-family: $font-heading;
			margin-bottom:0;
			transition: all 0.5s $transition-base;
			&:not(:last-child):not(.bullet)
			{
				margin-right: 40px;
			}
			&.active, &:hover
			{
				color: $tabs-active-color;
				transition: all 0.5s $transition-base;
			}
			&.active
			{
				font-weight: bold;
			}
		}
		.bullet
		{
			position:absolute;
			bottom:0px;
			height:3px;
			border-radius:10px;
			background-color: $tabs-active-color;
			transition: all 0.5s $transition-base;
		}
		.right-mist
		{
			position:absolute;
			right:0px;
			top:0px;
			height:100%;
			width: $mist-size;
			background: linear-gradient(to right, rgba(245,245,245,0), rgba(245,245,245,1));
		}
	}
	.rwx-tabs
	{
		.rwx-tabs-container
		{
			padding-left:30px;
			padding-right:30px;
			span
			{
				font-size: $h6-size;
			}
		}
	}
}