@import '../core/rwx-variables';
@import '../core/rwx-mixins';

.rwx-slider
{
	position:relative;
	display:flex;
	overflow:hidden;
	&-slide
	{
		width:100%;
		flex-shrink:0;
		transition: transform 0.7s $transition-base;
	  &.--center {
		  @include flex-center;
		}
	}

	&[data-rwx-slider-vertical]
	{
		flex-direction:column;
	}

	&[data-rwx-slider-vertical] &-counters
	{
		left:20px;
		flex-direction:column;
		top:0;
		&-counter
		{
			&:not(:last-child)
			{
				margin-right:0px;
				margin-bottom:20px;
			}
		}
	}

	&:not([data-rwx-slider-vertical])
	{
		padding-bottom:$slider-counter-size+40;
	}

	&:not([data-rwx-slider-vertical]) &-counters
	{
		bottom:20px;
		width:100%;
	}

	&.--counter-circle &-counters
	{
		&-counter
		{
			border-radius: 100%;
		}
	}

	&-counters
	{
		position:absolute;
		justify-content:center;
		display:flex;
		overflow:auto;
		&-counter
		{
			flex-shrink:0;
			cursor:pointer;
			margin-bottom:0;
			display:block;
			width:$slider-counter-size;
			height:$slider-counter-size;
			background: $slider-counter-inactive-color;
			transition: background 0.7s $transition-base;
			&:not(:last-child)
			{
				margin-right:20px;
			}
			&.active
			{
				background: $slider-counter-active-color;
				transition: background 0.7s $transition-base;
			}
		}
	}
}