@import '../core/rwx-variables';
@import '../core/rwx-mixins';
$rwx-animated-border-from-color: $black !default;
$rwx-animated-border-to-color: $white !default;
@import '../effects/rwx-animated-border';

$rwx-duo-selector-left-background-color: $orange !default;
$rwx-duo-selector-right-background-color: $light-blue !default;

$animation-easing: cubic-bezier(.01,.89,.53,.98);

.rwx-duo-selector
{
	display:flex;
	overflow:hidden;
	@include snap-down-from('md')
	{
		flex-direction:column;
	}
	&.active
	{
		z-index:$top-layer-z;
	}
	&-item
	{
		cursor: pointer;
	}
	&-item-container
	{
		padding-left: 60px;
		padding-right: 60px;
		flex: 1 1 50%;
		@include flex-center;
		&.active
		{
			animation: slideIn 1s $animation-easing forwards;
		}
		&:nth-child(1)
		{
			transform:translateX(-100%);
			background: rgba($rwx-duo-selector-left-background-color, 0.7);
			&.remove
			{
				animation: slideOutLeft 1s $animation-easing forwards;
			}
		}
		&:nth-child(2)
		{
			transform:translateX(100%);
			background: rgba($rwx-duo-selector-right-background-color, 0.7);
			&.remove
			{
				animation: slideOutRight 1s $animation-easing forwards;
			}
		}
	}
}

@keyframes slideIn {
	100% {
		transform: translateX(0%);
	}
}

@keyframes slideOutRight {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(100%);
	}	
}

@keyframes slideOutLeft {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}	
}