$mist-size: 50px;
[rwx-mist]
{
	overflow:auto;
	position:relative;
}
.rwx-mist
{
	&-right, &-bottom
	{
		position:absolute;
	}

	&-right
	{
		right:0px;
		top:0px;
		height:100%;
		width: $mist-size;
		background: linear-gradient(to right, rgba(245,245,245,0), rgba(245,245,245,1));
	}

	&-bottom
	{
		left:0px;
		bottom:0px;
		width:100%;
		height:$mist-size;
		background: linear-gradient(to bottom, rgba(245,245,245,0), rgba(245,245,245,1));
	}	
}
